{% extends 'base.html' %}
{% block title %}Cambiar Contra{% endblock %}
{% block content %}

<h1>Actualiza tu contraseña</h1> 
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %} 
        {{form.as_p}}
        
<button class="btn btn-primary">
    Actualiza Contraseña
</button>
<br/>
<br/>
<br/>
<ul>
    <li> <h3>Tu constraseña no puede ser similar a tu informacion personal</h3> </li>
        <li><h3>Tu contraseña debe contener 8 caracteres como minimo</h3></li>
            <li> <h3>Tu contraseña no puede ser una contraseña comunmente usada</h3></li>
                <li><h3>Tu contraseña no puede ser enteramente numerica </h3></li>
</ul>
</div>
{% endblock %}